:root {
    --color-primary-dark: #e85a4f;
    --color-secondary-dark: #e98074;

    --color-primary-light: #d8c3a5;
    --color-secondary-light: #eae7dc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #8e8d8a;

    --color-white: #fff;

}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Montserrat', sans-serif;
}

body {
    
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    max-width: 96rem;
    margin: 0 auto;
}

/* HEADER SECTION */

.header {
    background-image: linear-gradient(to right, var(--color-secondary-dark), var(--color-primary-dark));
}

.header--box {
    margin-right: 5rem;
}
.header--logo {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-dark-1);
}


/* SEARCH SECTION*/

.search  {
    flex-grow: 1;
}
.search > form {
    display: flex;
    align-items: center;
    width: 30rem;
    height: 4.5rem;
}

.search--input {
    border-radius: 2rem;
    border: none;
    width: 30rem;
    height: 3rem;
    padding-left: 2rem;
    color: var(--color-secondary-dark);
    margin-right: -3.5rem;
}

.search--button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search--button:focus {
    outline: none;
}

.search--input:focus {
    outline: none;
}


/* NAVIGATION SECTION*/

.navigation-1 {
    display: flex;
    align-items: center;
    padding: 3rem 0;
}

.navigation-2 {
    background-color: var(--color-grey-dark-1);
    padding: 1rem 0;
}

.navigation-2 > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ICON */

.icon.icon-cart {
    fill: var(--color-primary-light);
    width: 4rem;
    height: 4rem;
}

.icon.icon-search {
    fill: var(--color-primary-light);
    width: 2rem;
    height: 2rem;
}

.icon.icon-user {
    fill: var(--color-grey-dark-1);
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}

.icon.icon-truck {
    fill: var(--color-primary-light);
    width: 4rem;
    height: 4rem;
}

/* CART */

.cart {
    position: relative;
    margin-right: 10rem;
    cursor: pointer;
}

.cart--count {
    background-color: var(--color-grey-dark-1);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: .2rem;
    position: absolute;
    z-index: 1;
    top:0;
    right: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart--count > span {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

/* USER DISPLAY AND REGIST BUTTON*/
.user {
    position: relative;
    z-index: 2;
}


.user--name a{
    color: var(--color-grey-dark-1);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.user--name:hover > .dropdown-list {
    visibility: visible;
    opacity: 1;
}
.user--register {
    color: var(--color-grey-dark-1);
    display: inline-block;
    padding: .5rem;
    background-color: var(--color-secondary-light);
    border-radius: 2rem;
}

.user > span {
    color: var(--color-white);
}

.user .dropdown-list {
    background-color: var(--color-white);
    position: absolute;
    right: 0;
    top: 3rem;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.user .dropdown-list li:hover {
    background-color: var(--color-grey-dark-2);
}

.user .dropdown-list li:hover a {
    color: var(--color-white);
}

.user .dropdown-list a {
    display: inline-block;
    min-width: 16rem;
    padding: 1.2rem 1.6rem;
}


/* CATEGORY SECTION*/

.category {
    display: flex;
    flex: 1;
}

.category-item {
    list-style: none;
}

.category-item:not(:last-child) {
    margin-right: 1rem;
}

.category-item > a {
    display: inline-block;
    padding: 0.8rem 0;
    font-size: 1.6rem;
    color: var(--color-white);
    transition: color .2s ,transform .1s;
}

.category-item > a:hover {
    color: var(--color-primary-dark);
}

.category-item > a:focus {
    transform: translateY(5px);
}

/* REGISTER FORM */

.register-form {
    margin-top: 2rem;
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-grey-dark-1);
    padding: 0 10rem 5rem 10rem;
    margin-bottom: 2.5rem;
}

.register-form > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.register-title, .login-title, .seller-title, .posting-title {
    border-bottom: 2px solid var(--color-primary-dark);
    padding: 2rem 0;
    color: var(--color-white);
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    margin-bottom: 2rem;
}

.form-group > label {
    color: var(--color-secondary-dark);
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.form-control {
    border-radius: 2rem;
    border: 1px solid transparent;
    min-height: 4.5rem;
    padding: 2rem;
    color: var(--color-secondary-dark);
}

.form-control:focus {
    outline: none;
    border:1px solid var(--color-secondary-dark);
}

.register-form > form > button {
    grid-column: 1 / 3;
    justify-self: end;
    cursor: pointer;
    border: none;
    background-color: var(--color-secondary-dark);
    padding: 2rem;
    border-radius: 2rem;
}

/* WARNING MESSAGE */

.warning-message {
    background-color: var(--color-primary-dark) !important;
    color: var(--color-white);
    padding: 3rem;
    margin-bottom: 2rem;
}

/* LOGIN FORM */
.login-form {
    margin-top: 2rem;
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-grey-dark-1);
    padding: 0 10rem 5rem 10rem;
}

.login-form > form > button {
    cursor: pointer;
    border: none;
    background-color: var(--color-secondary-dark);
    padding: 2rem;
    border-radius: 2rem;
}

.sell-btn {
    display: inline-block;
    padding: 1rem;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    border-radius: 2rem;
    font-weight: bold;
}

/* SELLER FORM */

.seller-form {
    margin-top: 2rem;
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-grey-dark-1);
    padding: 0 10rem 5rem 10rem;
}

.seller-form > form > button {
    grid-column: 1 / 3;
    justify-self: end;
    cursor: pointer;
    border: none;
    background-color: var(--color-secondary-dark);
    padding: 2rem;
    border-radius: 2rem;
}

/* POSTING FORM */

.posting-form {
    margin-top: 2rem;
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-grey-dark-1);
    padding: 0 10rem 5rem 10rem;
}

.posting-form > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

/* MAIN CONTENT*/
.main-content > .container {
    display: flex;
    margin-top: 2rem;

}

.main-content--left {
    flex-basis: 30%;
    min-height: 40rem;
}

.main-content--left .search--price {
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-primary-dark);
    padding: 1.5rem;
}


.main-conntent--right {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    border-top:  1px solid rgba(0,0,0, 0.1);
}

.main-conntent--right > * {
    flex-basis: 33.333333%;
}
/* PRODUCT */

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    height: 35rem;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-right: 1px solid rgba(0,0,0, 0.1);
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    border-collapse: collapse;
}



.product:hover {
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-secondary-dark));
    color: var(--color-white);
}

.product:hover .product--button-buy {
    background-color: var(--color-grey-dark-1);
}


.product--image {
    height: 12rem;
}

.product--image > img {
    height: 100%;
    width: 12rem;
}

.button-group {
    align-self: stretch;
    display: flex;
    justify-content: space-around;
}

.product--button {
    padding: 1rem;
    flex-basis: 48%;
    text-align: center;
    border-radius: 1rem;
    color: var(--color-white);
    transition: all .3s;
}

.product--button:hover {
    transform: translateY(-.5rem);
}

.product--button-detail {
    background-color: var(--color-primary-light); 
}

.product--button-buy{
    background-color: var(--color-secondary-dark);
}


#product-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 1;
    width: 50rem;
    background-color: pink;
}

.product-popup--header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--color-primary-dark);
    color: white;
}

.product-popup--close {
    cursor: pointer;
}


.product-popup--image {
    margin: 0;
    padding: 0;
    flex-basis: 48%;
}

.product-popup--image > img {
    margin: 0;
    width: 100%;
    display: block;
}

.product-popup--detail {
    display: flex;
    background-color: var(--color-grey-dark-1);
    justify-content: space-between;
    padding: 2rem;
    color: var(--color-white);
}

.product-popup--text {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
    color: var(--color-secondary-dark);
}

.product-popup--title {
    margin-bottom: .5rem;
}

.product-popup--footer {
    background-color: var(--color-primary-dark);
}

.product-popup--footer > form {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.product-popup--footer > form > input {
    width: 3rem;
    padding: .2rem;
}

/* PRODUCTS STATUS*/

.product--quanity.product--quanity--exist {
    color: green;
}

.product--quanity.product--quanity--not-exist {
    color: red;
}

/* CART TABLE */
.show-cart {
    margin-top: 2rem;
}
.show-cart--table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    font-weight: 300;
}

.show-cart--table > thead {
    background-color: var(--color-grey-dark-1);
    color: var(--color-white);
}

.show-cart--table  * {
    padding: 1rem;
    text-align: center;
}


.show-cart--table > tbody > tr > td > input {
    text-align: left;
    width: 6rem;
}

.show-cart--table > thead > tr > th:nth-child(1), th:nth-child(3)  {
    width: 5rem;
}

.show-cart--table > thead > tr > th:last-child {
    width: 13rem;
}

.show-cart--table  > tbody tr:nth-child(odd) {
    background-color: var(--color-secondary-dark);
}

.show-cart--table  > tbody tr:nth-child(even) {
    background-color: var(--color-grey-dark-2);
}

.show-cart--table  > tbody tr {
    color: var(--color-white);
    transition: all .3s;
}

.show-cart--table  > tbody tr:hover {
    background-color: var(--color-white);
    color: var(--color-primary-dark);
}

.show-cart--table > tfoot {
    background-color: var(--color-grey-dark-1);
    color: var(--color-white);
}

/* ORDER BUTTON */

.button-group {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0 2rem 0;
}

.button-group > button:first-child {
    margin-right: .5rem;
}

.button-group > button:hover {
    transition: all .3s;
}

.button-group > button:hover {
    transform: translateY(-1rem);
}

.button-group > button:focus{
    outline: none;
}

.order-button {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-primary-dark);
}

.clear-button {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-secondary-dark);
}

/* ORDER CUSTOMER */

.order-customer {
    margin-top: 2rem;
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-grey-dark-1);
    padding: 0 10rem 5rem 10rem;
    margin-bottom: 2.5rem;
}

.order-customer > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.order-customer--title {
    border-bottom: 2px solid var(--color-primary-dark);
    padding: 2rem 0;
    color: var(--color-white);
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.order-customer > form > button {
    grid-column: 1 / 3;
    justify-self: end;
    cursor: pointer;
    border: none;
    background-color: var(--color-secondary-dark);
    padding: 2rem;
    border-radius: 2rem;
}

/* ORDER CONFIRM */

.order-confirm {
    margin-top: 2rem;
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-grey-dark-1);
    padding: 0 10rem 5rem 10rem;
    margin-bottom: 2.5rem;
}

.order-confirm::after {
    content: "";
    display: table;
    clear: both;
}

.order-confirm--title {
    border-bottom: 2px solid var(--color-primary-dark);
    padding: 2rem 0;
    color: var(--color-white);
    font-weight: bold;
    margin-bottom: 2.5rem;
}

/* DELIVERY DETAIL */

.delivery-detail--title {
    font-size: 1.6rem;
    color: var(--color-white);
    margin-bottom: 2rem;
}

.delivery-detail--description {
    font-size: 1.6rem;
    background-color: var(--color-primary-light);
    min-height: 12rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2rem;
}

/* PRODUCT DETAIL*/

.product-detail--title {
    font-size: 1.6rem;
    color: var(--color-white);
    margin-bottom: 2rem;
}

.product-detail--description {
    background-color: var(--color-primary-light);
    padding: 2rem;
}

/* CONFIRM BUTTON */

.confirm-button {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-primary-dark);
    float: right;
    margin-top: 2rem;
}

/* ORDER DONE */
.order-done {
    margin-top: 2rem;
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-grey-dark-1);
    padding: 0 10rem 5rem 10rem;
    margin-bottom: 2.5rem;
}

.order-done--title {
    border-bottom: 2px solid var(--color-primary-dark);
    padding: 2rem 0;
    color: var(--color-white);
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.order-done--detail--title {
    font-size: 1.6rem;
    color: var(--color-white);
    margin-bottom: 2rem;
}

.order-done--detail-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 45rem;
    padding: 2rem;
    background-color: var(--color-secondary-light);
}

.payment-description {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    margin-top: 2rem;
}

.payment-description--title {
    margin-bottom: 2rem;
}

.payment-description--footer {
    background-color: var(--color-grey-dark-1);
    padding: 2rem;
}

/* BANK ACCOUNT */

.bank-account {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 2rem;
}

.bank-account > * {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bank-account--image > img {
    width: 7rem;
    height: 100%;
}

/* ORDER HISTORY */

.order-history {
    margin-top: 2rem;
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-grey-dark-1);
    padding: 0 10rem 5rem 10rem;
    margin-bottom: 2.5rem;
    color: var(--color-white);
}

.order-history--cart {
    display: flex;
    flex-direction: column;
}

.order-history--title {
    border-bottom: 2px solid var(--color-primary-dark);
    padding: 2rem 0;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.show-cart--table--order > thead {
    background-color: var(--color-secondary-light);
    color: var(--color-grey-dark-1);
    font-weight: bold;
}

.show-cart--table--order > tfoot {
    background-color: var(--color-secondary-light);
    color: var(--color-grey-dark-1);
    font-weight: bold;
}

.order-history--header {
    display: flex;
    margin-bottom: 2rem;
}

.order-history--id {
    flex: 1;
}

.order-history--paid {
    margin-right: 2rem;
}

.order-history--block:not(:last-child) {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-grey-dark-2);
}


.order-button--cancle {
    align-self: flex-end;
    margin: 2rem 0;
    cursor: pointer;
}
/* ORDER PAYMENT */

.order-payment {
    margin-top: 2rem;
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-grey-dark-1);
    padding: 0 10rem 5rem 10rem;
    margin-bottom: 2.5rem;
    color: var(--color-white);
}

.order-payment--title {
    border-bottom: 2px solid var(--color-primary-dark);
    padding: 2rem 0;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.order-payment  > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.order-payment  > form > button {
    grid-column: 1 / 3;
    justify-self: end;
    cursor: pointer;
    border: none;
    background-color: var(--color-secondary-dark);
    padding: 2rem;
    border-radius: 2rem;
}

/* DELIVERY ORDER */

.delivery-orders {
    position: relative;
    margin-right: 2rem;
}

.delivery--count {
    background-color: var(--color-white);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: .2rem;
    position: absolute;
    z-index: 1;
    top:0;
    right: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delivery--count--display {
    color: var(--color-grey-dark-1);
}

.show-delivery {
    margin-top: 2rem;
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-grey-dark-1);
    padding: 0 10rem 5rem 10rem;
    margin-bottom: 2.5rem;
}

.show-delivery--title {
    border-bottom: 2px solid var(--color-primary-dark);
    padding: 2rem 0;
    font-weight: bold;
    margin-bottom: 2.5rem;
    color: var(--color-white);
}

/* USER DETAILS */

.orders {
    display: flex;
    flex-direction: column;
}
.orders:not(:last-child) {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-white);
}
.user-details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    min-height: 12rem;
    justify-content: space-between;
    margin-bottom: 2rem;
}

/* SHOW DELIVERY TABLE*/

.show-delivery--table  {
    width: 100%;
    border-collapse: collapse;
    color: var(--color-grey-dark-1);
}
.show-delivery--table * {
    padding: 1rem;
    text-align: center;
}

.show-delivery--table > thead {
    background-color: var(--color-primary-light);
}

.show-delivery--table > tbody > tr:nth-child(odd) {
    background-color: var(--color-secondary-dark);
}

.show-delivery--table > tbody > tr:nth-child(even) {
    background-color: var(--color-secondary-light);
}

/*DELIVERED BUTTON */

.delivered-button {
    align-self: flex-end;
    padding: 1rem;
    margin-bottom: 2rem;
}

.pages {
    align-self: flex-end;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pages li:not(:last-child) {
    margin-right: 2rem;
}

.pages li a {
    display: inline-block;
    min-width: 2rem;
    padding: .5rem 1rem;
    background-color: var(--color-grey-dark-1);
    color: var(--color-primary-dark);
    font-weight: bold;
}

.pages li .active-link{
    background-color: var(--color-primary-dark);
    color: var(--color-grey-dark-1);
}


input[type=range] {
    pointer-events: none;
    position: absolute;
    width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    margin-top: -.5rem;
    border: 1px solid #000000;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1rem;
    cursor: pointer;
    background: var(--color-grey-dark-1);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

.range-slider {
    position: relative;
    height: 10rem;
    background-color: rgba(0,0,0, .08);
}

.range-price {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 1rem 3rem;
    align-items: center;
    margin-bottom: 1rem;
}

.range-price > span:not(:nth-child(2)) {
    padding: 1rem;
    background-color: var(--color-primary-light);
    color: var(--color-white);
    border-radius: .5rem;
    min-width: 7rem;
    text-align: center;
}

.price-search {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--color-primary-dark);
    border: none;
    cursor: pointer;
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: bold;
}

.price-search:focus {
    outline: none;
}